<%- include('../partials/header') %>

 <h2>Photo List</h2>
 <table>
   <thead>
     <tr>
       <th>Title</th>
       <th>Description</th>
     </tr>
   </thead>
   <tbody>
      <% photos.forEach(function(p) { %>
       <tr>
         <% if (user?._id.equals(p.user)) { %>
          <form action="/photos/<%= p._id %>?_method=DELETE" method="POST"></form>
              <button type="submit">X</button>
          </form>
         <% } %>
       </tr>
      <% }) %>
   </tbody>
 </table>

 <%- include('../partials/footer') %>
