<%- include('../partials/header') %>

<form action="/users" enctype="multipart/form-data" method="POST">
  <div>
    <input type="file" name="image">
    <button type="submit">Submit</button>
  </div>
</form>

<%- include('../partials/footer') %>
