<%- include('./partials/header') %>
<h1>Home Page</h1>
<form action="/users" enctype="multipart/form-data" method="POST">
    <div>
      <input type="file" name="image">
      <button type="submit">Submit</button>
    </div>
  </form>
<%- include('./partials/footer') %>