body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.content-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-user img {
  border-radius: 50%;
  height: 40px;
}

nav {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

h1 {
  display: flex;
  justify-content: center
}

h2 {
  display: flex;
  justify-content: center
}